/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #fff;
    font-size: .813em;
    line-height: 1.46;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: .813em/1.462em -apple-system, Helvetica, Helvetica Neue, Arial;
    font-weight: 300;
}

.wrapper {
    width: 86%;
    margin: 0 6%;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container {
    background: #000;
    background: rgba(0,0,0,0.6);
}

.footer-container footer {
    color: white;
    font-size: 8px;
    padding: 15px 10%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale')";
}

h1, h2, h3 {
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 2em;
    line-height: 1.26;
}

h2 {
    font-size: 1.462em;
    line-height: 1.42;
}

.logo {
    height: 49px;
    width: 250px;
    margin-bottom: 2.308em;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

    .main-container {
        max-width: 70%;
    }

    .main {
    }

    .wrapper {
        width: 100%;
        margin: 0 0;
    }

    body {
        font-size: 1.231em;
        line-height: 1.5;
    }

    .logo {
        /*margin-bottom: 45px;*/
    }

    h1 {
        font-size: 2.308em;
        line-height: 1.26;
    }

    h2 {
        font-size: 1.692em;
        line-height: 1.5;
    }

    p {
        margin: 6px 0;
    }

    .footer-container footer {
        font-size: 0.750em;
        line-height: 2;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

   .main-container {
        max-width: 55%;
    }

    .main {

    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}